{% extends "base.html" %}

{% block title %}{{ artist }}'s profile{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/artistprofile.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SWAG BEATS LAB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-3">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/music">Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/artists">Artists</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row row-cols-2">
    <div class="col-3 mt-3 ml-4" id="artist-details">
        <h1>{{ artist }}</h1>
        <p id="description">{{ artist_details.description }}</p>
        <img src="{{ url_for('static', filename='images/' + artist + '.jpg') }}" alt="artist image">

        <div class="mt-3">
            <li><a href="https://www.youtube.com/{{ artist_details.youtube }}">YouTube</a></li>
            <li><a href="https://www.instagram.com/{{ artist_details.instagram }}/">Instagram</a></li>
        </div>
    </div>

    <div class="col-8 mt-4">
        <h2 class="mb-4">Music</h2>
        <div id="music-details">
            <table class="table">
                <thead id="thead">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Artists</th>
                        <th>Release date</th>
                        <th>Audio</th>
                        <th>Link</th>
                    </tr>
                </thead>

                <tbody>
                    {% for song in songs %}
                    {% set x = loop.index %}
                    <tr>
                        <td id="nr">{{ x }}.</td>
                        <td>{{ song.title }}</td>
                        <td id="artists">{{ song.artist }}</td>
                        <td id="release">{{ song.release_date }}</td>
                        <td><audio controls>
                                <source src="{{ url_for('static', filename='audio/' + song.file_name) }}"
                                    type="audio/mpeg">
                            </audio></td>
                        {% if song.link != "" %}
                        <td><a href="{{ song.link }}">YouTube</a></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}